{% extends "base.html" %}

{% block content %}

<table class="table">
    <thead class="thead-light bg-light">
    <tr>
        <th>#</th>
        <th>№ п.п.</th>
        <th>Дата создания</th>
        <th>Дата изменения состояния</th>
        <th>Состояние</th>
        <th>Общая сумма заявки</th>
    </tr>
    </thead>
    <tbody>
    {% for i in range(len_orders) %}
        <tr>
            <th scope="row">{{i}}</th>
            {% for j in orders[i] %}
                <td>{{j}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
